/*STORY GRID
============*/

.story-grid {
	margin-bottom: 3em;
	/*overflow: hidden;*/
	position: relative;
}

.story-grid__header {
	text-align: center;
  color: var(--body-text-tertiary);
  text-transform: capitalize;
  margin-bottom: 0.2em;
  font-family: georgia;
  font-weight: 400;
  font-size: 1.4em;
  margin: -1em auto 0.94em;
}

.story-grid__inner {
	margin-left: -24px;
}

// hide on loading if top 100
.js .top-100 .story-grid__inner {
	visibility: hidden
}

.story-grid__inner:after {
	content: "";
	clear: both;
	display: table;
}

.story-grid__item {
	padding: 0 0 24px 24px;
}


@media all and (min-width: 400px){

	.story-grid__item {
		width: 50%;
		float: left;
	}

	.index .story-grid__item:nth-child(n+17){
		display: none
	}

	.story-tile {
		font-size: 4.6vw;
	}
}


@media all and (min-width: 761px){
	.story-grid__item {
		width: 33.3331%;
	}

	.story-tile {
		font-size: 2.84vw;
	}
}

@media all and (min-width: 761px) and (max-width: 1120px){
	.index .story-grid__item:nth-child(n+16){
		display: none
	}
}

@media all and (min-width: 761px){
	.story-grid__header {
		font-size: 1.9em;
		margin-bottom: 0.81em
	}
}

@media all and (min-width: 1121px){
	.story-grid__item {
		width: 25%;
	}

	.story-tile {
		font-size: 2.1vw;
	}
}

@media all and (max-width: 560px){

	.story-grid__header {
		margin: -0.25em auto 0.46em;
	}

	.story-grid__inner {
		margin-left: -18px;
	}
	.story-grid__item {
		padding: 0 0 18px 18px;
	}

}