/*OVERLAY
===========*/

.overlay-open {
	overflow: hidden;
}

.overlay {
	background: rgba(255,255,255,0);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	visibility: hidden;
	will-change: all;
	transition: all 0.5s;
}

.overlay__close {
	position: absolute;
	top: 1em;
	right: 1em;
	width: 30px;
	height: 30px;
}

.overlay[aria-hidden="false"]{
	background: rgba(255,255,255,0.88);
	visibility: visible;
}

.overlay[aria-hidden="false"] > .overlay__body {
	transform: translate(-50%,-50%);
}

.overlay__body {
	padding: 2em 1em 2.5em;
	text-align: center;
	background: white;
	width: 80%;;
	max-width: 600px;
	min-width: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	transition: all 0.5s;
	transform: translate(-50%,-250%);
	filter: drop-shadow(0 0 6px rgba(0,0,0,0.2));
	border: 1px solid var(--stroke);
}

.overlay__body > h5,
.overlay__body > h3,
.overlay__body > h4,
.overlay__body > ul {
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

.overlay__body > h5 {
	margin-bottom: 0;
}

.overlay__body > h3 {
	color: inherit;
	font-size: 2em;
	line-height: 1em;
	margin-bottom: 0.5em;
}

.overlay__body > h4 {
	color: var(--body-text-secondary);
	font-size: 1.1em;
	margin-bottom: 1.4em;
	max-width: 70%;
}

@media all and (max-width: 400px){

	.overlay__body > h3 {
		font-size: 1.7em;
	}

	.overlay__body > h4 {
		width: 100%;
		max-width: 100%;
		padding: 0;
		font-size: 1em;
	}

	.overlay__body {
		padding: 1.5em 0.8em 1.8em;
	}
}