/*TOOLS
===========
*/
.icon {
	display: inline-block;
	width: 36px;
	height: 36px;
	position: relative;
	fill: var(--icon-primary);
	vertical-align: middle;
}

.icon > svg {
	width: 100%;
	height: 100%;
	position: absolute;
	fill: inherit;
	left: 0;
	transition: fill 0.166s;
}

.link-button {
	display: inline-block;
	vertical-align: middle;
	padding: 0.1em 0.2em;
	fill: inherit;
	transition: color 0.166s;
}

@media (hover:hover){
	.link-button:hover,
	.link-button:hover > .icon {
		color: var(--body-text-secondary)!important;
		fill: var(--body-text-secondary)!important;
	}
}

.link-button > .icon {
	width: 25px;
	height: 25px;
	margin: 0 0.2em;
	top: -1px;
	fill: inherit
}

.article-vote[aria-disabled="true"] > .article-vote__button {
	pointer-events: none;
}

.article-vote__button,
.article-tools .link-button {
	color: var(--body-text-tertiary);
	fill: var(--body-text-tertiary);
}

.article-vote[data-voted] .article-vote__button {
	color: var(--shade1);
	fill: var(--shade1)
}

.article-vote[data-voted="yes"] .article-vote__button[data-vote="yes"],
.article-vote[data-voted="no"] .article-vote__button[data-vote="no"]{
	fill: var(--body-text-secondary);
	color: var(--body-text-secondary)
}

.article-score {
	font-family: sans-serif;
	font-weight: 200;
	display: inline-table;
	vertical-align: middle;
	margin-right: 0.6em;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: var(--body-text-tertiary);
	color: white;
	transform: scale(1.25);
}

.article-score__num {
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	font-weight: 200;
	line-height: 0.25;	
}

@media all and (max-width: 380px){
	.article-score {
		transform: scale(1.1);
		margin-right: 0
	}
}

